footer {
    text-align: center;

    .thanksto {
        @include gradientbg;
        min-height: 320px;
        position: relative;
        color: $white;
        padding: 40px 10px 120px;

        h2 {
            margin: 10px 10px 0;
            letter-spacing: 1px;
            font-weight: 500;
            display: inline-block;
            position: relative;

            &:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 2px;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 25%;
                left: 0;
            }

            &:hover:after {
                width: 100%;
            }
        }


        .support {
            margin: 20px 0;

            .dicoding,
            .bdd,
            .codepen,
            .github,
            .stackoverflow {
                background-position: center;
                background-repeat: no-repeat;
                height: 35px;
                display: inline-block;
                margin: 0 6px;
            }

            .dicoding {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 287.91 72.17'%3E%3Ctitle%3Edivoding%3C/title%3E%3Cpath fill='%23ffffff' d='M251,86.15V14.21h43.45V86.15Zm34.09-20c.2,2.46.29,4.49-1.17,6.44a13.88,13.88,0,0,1-19.6,2.55,21.82,21.82,0,0,1-3.82-4.73c-1.5-2.16-3.39-2.78-5.63-1.61-2,1-2.53,3-1.45,5.3a13.34,13.34,0,0,0,1.16,2,22.15,22.15,0,0,0,36.13.52,11.44,11.44,0,0,0,2.44-7.23c0-6.54.07-13.08.09-19.62a19.69,19.69,0,0,0-.15-3.44,20.7,20.7,0,0,0-24-16.75c-9.91,1.84-18.74,11.7-16.43,23.86A20.84,20.84,0,0,0,272.35,70C277,70.08,281.24,69.21,285.11,66.14Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M40.06,33.12c0-5.26,0-10.1,0-14.93a3.88,3.88,0,0,1,5.86-3.69,3.32,3.32,0,0,1,1.82,3.43c0,7.57,0,15.13,0,22.7,0,4.16.42,8.39-.16,12.48-1.35,9.51-10.31,16.53-19.91,17S7,62.52,6.57,49.69C6.25,38.94,15.89,29.05,26.7,28.91A20.16,20.16,0,0,1,40.06,33.12Zm.08,16.24a12.71,12.71,0,0,0-13-12.75,12.88,12.88,0,0,0,.26,25.76A12.71,12.71,0,0,0,40.14,49.36Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M180.14,32.8c0-.63.1-1.21.1-1.79q0-6.45-.08-12.9A3.77,3.77,0,0,1,183.82,14c2.72,0,4,1.26,4,4q0,13,0,26c0,3.08.32,6.21-.14,9.22-1.43,9.36-10.38,16.4-19.88,16.84S147,62.51,146.69,49.52c-.23-10.72,9.39-20.54,20.14-20.58C171.94,28.92,171.94,28.92,180.14,32.8Zm.1,16.69c.58-7.06-6.31-13-13.05-12.91a12.9,12.9,0,0,0,.36,25.8C175.38,62.42,180.76,55.17,180.24,49.49Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M124.94,70c-8.88.65-20.2-7.49-20.18-20.3a20.33,20.33,0,0,1,20.47-20.09c11.22,0,20,9.12,20.24,20.47S134.68,70.67,124.94,70Zm.14-7.72c7,0,12.23-5.36,12.54-12.4.28-6.16-5.41-12.62-12.63-12.53a12.62,12.62,0,0,0-12.41,12.43A12.49,12.49,0,0,0,125.08,62.25Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M217.86,33.09a20.11,20.11,0,0,1,31.86,16.1q0,8.36,0,16.72A3.85,3.85,0,0,1,244,69.48a3.38,3.38,0,0,1-2-3.38c0-4.85.08-9.69,0-14.54a25.1,25.1,0,0,0-.68-5.74c-1.51-5.77-6.55-9-13.09-8.59A11.55,11.55,0,0,0,218,47.42c-.43,6.15-.28,12.34-.34,18.51a3.49,3.49,0,0,1-2.17,3.62c-2.95,1.24-5.43-.48-5.45-3.88,0-6.06,0-12.12,0-18.17,0-4.49,0-9,0-13.45,0-2.79,1.2-4.46,3.29-4.69S217.19,30.61,217.86,33.09Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M66.89,49.46c.45-8.76,4.63-15,12.47-18.46s15.19-1.93,21.71,3.55a3.89,3.89,0,0,1,.66,5.23,3.57,3.57,0,0,1-4.85,1,21.39,21.39,0,0,1-2.33-1.43c-4.39-3-10.5-3-14.51,0A12.93,12.93,0,0,0,75.3,53.81c2.67,7.81,12,10.86,19.23,6.26.66-.43,1.26-1,1.92-1.38a4,4,0,0,1,5,.51,3.84,3.84,0,0,1-.15,5.28,18.58,18.58,0,0,1-9.37,5C80.13,72,69.67,64.94,67.3,53.12,67.05,51.88,67,50.6,66.89,49.46Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M62.31,49.46c0,5.44,0,10.88,0,16.33,0,2.69-1.38,4.1-3.94,4.14-2.15,0-3.73-1.56-3.74-4q-.06-16.32,0-32.65a4.08,4.08,0,0,1,2.06-3.81c1.46-.81,2.81-.33,4.11.45A3.18,3.18,0,0,1,62.32,33C62.29,38.45,62.31,44,62.31,49.46Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M202.42,49.56q0,8.07,0,16.15c0,2.74-1.29,4.13-3.85,4.22-2.2.07-3.81-1.56-3.82-4.14,0-10.83-.07-21.65,0-32.47,0-3.67,2.94-5.32,5.95-3.59a3.26,3.26,0,0,1,1.73,3.14C202.39,38.43,202.42,44,202.42,49.56Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M62.31,23.41c0,2.41-1.53,3.78-4.12,3.74a3.84,3.84,0,0,1,.12-7.66A3.68,3.68,0,0,1,62.31,23.41Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M202.41,23.44c0,2.38-1.57,3.77-4.13,3.71a3.84,3.84,0,0,1,.17-7.66A3.67,3.67,0,0,1,202.41,23.44Z' transform='translate(-6.56 -13.98)'/%3E%3Cpath fill='%23ffffff' d='M272.86,62A12.25,12.25,0,0,1,260.31,49.7,12.54,12.54,0,0,1,272.4,37.23c6.56-.32,13,5.63,13,12.38C285.32,55.59,279.93,62.45,272.86,62Z' transform='translate(-6.56 -13.98)'/%3E%3C/svg%3E%0A");
                width: 140px;
            }

            .bdd {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 130 71.37'%3E%3Ctitle%3Ebdd parenkraf%3C/title%3E%3Cpath fill='%23FFFFFF' d='M10,14.31l1.77,1c2.31,1.39,4.6,2.8,6.93,4.16a1.27,1.27,0,0,1,.67,1.29c0,6.54,0,13.09,0,19.63v1.13a24.18,24.18,0,0,1,18.83-5.13c7,.86,12.37,4.47,16.69,10,4.24-5.43,9.64-9.07,16.59-9.95a24,24,0,0,1,18.84,5.08v-1c0-6.57,0-13.15,0-19.72a1.06,1.06,0,0,1,.57-1.08q4.29-2.55,8.56-5.14a3.45,3.45,0,0,1,.41-.21V41.36c10.28-6.93,20.49-7,30.79,0v-.86c0-6.52,0-13,0-19.55a1.34,1.34,0,0,1,.73-1.35c2.74-1.63,5.45-3.31,8.18-5,.11-.06.23-.1.46-.2v.92c0,15.55,0,31.1,0,46.66a22.08,22.08,0,0,1-2.11,9.1,25,25,0,0,1-5.95,8.11,22.75,22.75,0,0,1-11.9,6,29.14,29.14,0,0,1-5.42.49,23.06,23.06,0,0,1-14.27-5.05c-1.87-1.54-3.57-3.29-5.39-5C90,82.07,83.35,85.71,75,85.69S60,82.07,55,75.53c-1.07,1.14-2.08,2.33-3.22,3.4a23,23,0,0,1-12.19,6.26,29.14,29.14,0,0,1-5.42.49,24,24,0,0,1-14.31-5,24.85,24.85,0,0,1-7.88-10A21.21,21.21,0,0,1,10.4,64.9,80,80,0,0,1,10,56.14c0-13.52,0-27,0-40.54ZM115.23,76.2c8.53.28,15.4-6.94,15.37-15.25A15.35,15.35,0,0,0,116,45.6,15.52,15.52,0,0,0,99.83,60.42C99.53,69.14,107,76.57,115.23,76.2Zm-80.44,0c8.54.23,15.08-7,15.35-14.52A15.38,15.38,0,1,0,19.39,61C19.37,69.14,26.17,76.47,34.79,76.2ZM75,76.2c8.42.33,15-7,15.35-14.09a15.37,15.37,0,1,0-30.66-2.18C59,69.08,67,76.61,75,76.2Z' transform='translate(-10 -14.31)'/%3E%3C/svg%3E%0A");
                width: 70px;
            }

            .github {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75.71 73.82'%3E%3Ctitle%3Eguthub%3C/title%3E%3Cpath fill='%23ffffff' d='M87.85,52.49c0,.51-.09,1-.14,1.54a37.91,37.91,0,0,1-25.4,32.72,2.94,2.94,0,0,1-.94.16,1.77,1.77,0,0,1-1.9-1.9c0-1.85,0-3.69,0-5.54,0-2,0-4,0-6a8.47,8.47,0,0,0-1.88-5.22,1.93,1.93,0,0,0-.27-.3c-.09-.09-.18-.16-.34-.3.78-.11,1.45-.2,2.13-.31A22.87,22.87,0,0,0,66.2,65.1a14,14,0,0,0,7-8.61,23.69,23.69,0,0,0,.87-9.72,13.88,13.88,0,0,0-3.47-7.69.6.6,0,0,1-.13-.68,13.45,13.45,0,0,0,0-8c-.13-.45-.31-.88-.44-1.33a.47.47,0,0,0-.49-.36,9.15,9.15,0,0,0-3.62.58,25.73,25.73,0,0,0-6.05,3.13.87.87,0,0,1-.78.14,34.62,34.62,0,0,0-10-1.17,33.16,33.16,0,0,0-8.05,1.16,1,1,0,0,1-.89-.15,25.66,25.66,0,0,0-6.34-3.19,9.06,9.06,0,0,0-3.27-.5.52.52,0,0,0-.53.4,13.74,13.74,0,0,0-.48,9,1.24,1.24,0,0,1-.26,1.33A14.35,14.35,0,0,0,26,48.68a24.51,24.51,0,0,0,1.14,8.2,14.19,14.19,0,0,0,8.48,9,27.23,27.23,0,0,0,7,1.72l.45.06s0,.09,0,.11a7.94,7.94,0,0,0-2.22,4.57.58.58,0,0,1-.41.53,9.28,9.28,0,0,1-5.92.58A7.61,7.61,0,0,1,30,69.88,10.63,10.63,0,0,0,27,66.69a5.25,5.25,0,0,0-4.07-.9,1.68,1.68,0,0,0-.38.12c-.39.18-.53.5-.28.84a3.52,3.52,0,0,0,1,1c2.4,1.4,3.64,3.69,4.68,6.1a7.12,7.12,0,0,0,5.16,4.23,16.36,16.36,0,0,0,6.39.11c.34,0,.67-.1,1.06-.16,0,.16,0,.3,0,.44,0,2.11,0,4.21.05,6.32a2,2,0,0,1-2.79,2,35.49,35.49,0,0,1-9.73-5,37.44,37.44,0,0,1-15-22.49,37.85,37.85,0,0,1,8.3-33.14,37.83,37.83,0,0,1,32.5-12.88,37.83,37.83,0,0,1,32.52,27.3A36.31,36.31,0,0,1,87.79,49c0,.16,0,.31.06.47Z' transform='translate(-12.15 -13.09)'/%3E%3C/svg%3E%0A");
                width: 35px;
            }

            .codepen {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 78.11 78'%3E%3Ctitle%3Ecodepen%3C/title%3E%3Cpath fill='%23ffffff' d='M89.05,35.73a2.46,2.46,0,0,0-1.17-2.08C50.67,11.58,51.2,9.93,48.78,11.39c-28.2,17.53-36,21.44-37.17,22.81-1,1-.56,2.65-.56,27C11,63.93,36.22,78.92,48.49,88.48a2.62,2.62,0,0,0,3.26-.1c36.48-25.85,37.36-24.81,37.3-27.22,0,0,0-25.76,0-25.43Zm-4.87,21.1-12.6-7.67,12.6-8.77ZM67,46.39,52.49,37.54V17.81L82.15,35.87Zm-17,11.8L37.46,49.43l12.59-7.67,12.6,7.67ZM47.61,17.81V37.55C42,41.06,37.19,44,33.15,46.44L18,35.87Zm-19,31.39c-6.09,3.66-10.07,6-12.65,7.54V40.39Zm4.32,3L47.61,62.44V81.93L18,61.3ZM52.49,81.94V62.44L67.2,52.2l15,9.1Z' transform='translate(-10.95 -11)'/%3E%3C/svg%3E%0A");
                width: 35px;
            }

            .stackoverflow {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 75.82'%3E%3Ctitle%3Estackoverflow%3C/title%3E%3Cpath fill='%23ffffff' d='M72.11,81.17V60.86h6.74V87.91H18v-27h6.74V81.17Z' transform='translate(-18 -12.09)'/%3E%3Cpath fill='%23ffffff' d='M32.18,58.93l33.1,6.92,1.4-6.66-33.1-6.91Zm4.38-15.76L67.2,57.44,70,51.31,39.36,37Zm8.49-15.06,26,21.63,4.29-5.17L49.34,23Zm16.81-16-5.42,4L76.57,43.26l5.43-4ZM31.48,74.34h33.8V67.6H31.48Z' transform='translate(-18 -12.09)'/%3E%3C/svg%3E%0A");
                width: 35px;
            }
        }

    }

    .copyright {
        font-weight: 500;
        letter-spacing: 1px;
        font-weight: 18px;
        padding: 15px 10px 30px;
        background: $white;
        color: $dark;

        span {
            display: block;
        }

        i.fa-heart {
            color: $heart;
            margin: 0 4px;
            animation: heart 2s infinite ease;
        }

        a {
            text-decoration: none;
            color: $dark;
        }
    }
}

@keyframes heart {
    from {
        transform: scale(1)
    }

    10% {
        transform: scale(1.2)
    }
}